html, body {
    margin: 0;
    height: 100%;
}

/* TODO REFACTOR UNUSED CLASSES  */
/* ===== SIDE-MENU ===== */
.col-1{
  padding: 0px;
  min-height: 0px;
  height: 100%;
}

img{
  max-width:50%;
  border-radius: 50%;
}

.menu {
  float: left;
  width: inherit;
  background: #25394F ;
  background: -webkit-linear-gradient(#4768b5, #35488e);
  background: -o-linear-gradient(#4768b5, #35488e);
  background: -moz-linear-gradient(#4768b5, #35488e);
  background: linear-gradient(#4768b5, #35488e);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}

.menu .items {
  list-style:none;
  margin: auto;
  padding: 0;
}

.menu .items .item {
  height: 70px;
  border-bottom: 1px solid #6780cc;
  display:flex;
  justify-content: center;
  align-items: center;
  color: #9fb5ef;
  font-size: 17pt;
}

.menu .items .item-active {
  background-color:#5172C3;
  color: #FFF;
}

.menu .items .item:hover {
  cursor: pointer;
  background-color: #4F6EBD;
  color: #cfe5ff;
}

.badge-secondary{
  border-radius: 9px;
  background-color: #25394F;
}


/* Style the tab */
.tablinks {
  margin-top: 0px;
  background-color: #f1f1f1;
}


/* ===== TAB NAVIGATION ===== */
.tabs button {
  background-color: white  ;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  margin: 0px !important;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tabs button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tabs button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* ===== INBOX ===== */
#inbox {
  padding: 0 0 0 0;
  background-color: lightblue;
}

.inbox-header {
  padding: 5px;
  font-size: 25px;
}

span.friends {
  font-size: 25px;
  font-weight: 600;
  color: #FFF;
}

.friend {
  height: 70px;
  border-bottom: 1px solid #777;
  position: relative;
}

.searchfriend {

  border-bottom: 1px solid #777;
  position: relative;
  background: #333 url("images/search.png") -11px 0 no-repeat;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
}


.friend:hover {
  background: #616161;
  cursor: pointer;
}

.friend img {
  width: 40px;
  border-radius: 50%;
  margin: 15px;
  float: left;
}

.floatingImg {
  width: 40px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 12px;
  border: 3px solid #fff;
}

.friend p {
  padding: 0 0 0 0;
  float: left;
  width: 220px;
}

.friend p strong {
  font-weight: 600;
  font-size: 15px;
  color: #000;
}

.friend p span {
  font-size: 13px;
  font-weight: 400;
  color: #888;
}

.friend .status {
  background: #4CAF50;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 31px;
  right: 17px;
}

.friend .status.away {
  background: #FFEB3B;
}

.friend .status.inactive {
  background: #EEE;
}


/* ===== Search Bar ===== */
#search {
  background: #333 url("../images/search.png") -11px 0 no-repeat;
  height: 60px;
  width: 290px;
  position: absolute;
  top: 0;
  left: 0;
}

#searchfield {
  background: #333;
  margin: 21px 0 0 55px;
  border: none;
  padding: 0;
  font-size:1 4px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: #CCC;
}

#searchfield:focus {
  outline: 0;
}
/* ===== Screen Rows ===== */
#screens{
  margin: 0px;
}
